{% extends "base.html" %}

{% block content %}
<h1>{{ author.pref_name }}</h1>

<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">Works</div>
      <ul class="list-group list-group-flush">
        {% for work in public_works %}
        <li class="list-group-item"><a href="{% url 'work_detail' work.pk %}">{{ work.title }}</a> (<a href="{% url 'conference_detail' work.conference.pk %}">{{ work.conference.year }}</a>)</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="col-md-4">
    <div class="row mb-3">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">All Names</div>
            <ul class="list-group list-group-flush">
              {% for appellation in appellation_assertions %}
              <li class="list-group-item">
                {{ appellation.appellation }}
                {% for work in appellation.works %}
                  <a href="{% url 'work_detail' work.pk %}"><span class="badge badge-info">{{ work.conference.year }}</span></a>
                {% endfor %}
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">All Affiliations</div>
            <ul class="list-group list-group-flush">
              {% for affiliation in affiliation_assertions %}
              <li class="list-group-item">
              <a href="{% url 'institution_detail' affiliation.institution.pk %}">{{ affiliation.institution }}</a>
                {% for work in affiliation.works %}
                <a href="{% url 'work_detail' work.pk %}"><span class="badge badge-info">{{ work.conference.year }}</span></a>
                {% endfor %}
                {% if affiliation.departments %}
                <ul>
                  {% for department in affiliation.departments %}
                  <li>{{ department.department.name }}{% for work in department.works %}
                <a href="{% url 'work_detail' work.pk %}"><span class="badge badge-info">{{ work.conference.year }}</span></a>
                {% endfor %}</li>
                  {% endfor %}
                </ul>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>

    </div>

    {% endblock %}
