{% extends "base.html" %}

{% block content %}
<h1>{{ author.pref_name }}</h1>

<div class="row">
  <div class="col-md-8">
  <h2>Works</h2>
    {% for series in split_works %}
    <div class="card">
      <div class="card-header">{{ series.series }}</div>
      <ul class="list-group list-group-flush">
        {% for work in series.works %}
        <li class="list-group-item">{% include "work_card.html" with work=work %}</li>
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
  </div>
  <div class="col-md-4">
    <div class="row mb-3">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">All Names</div>
            <ul class="list-group list-group-flush">
              {% for appellation in appellation_assertions %}
              <li class="list-group-item">
                <p>{{ appellation.appellation }}</p>
                <small class="text-muted">Given in {% for work in appellation.works %}
                  <a href="{% url 'work_detail' work.pk %}">{{ work.conference.year }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}</small>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">All Affiliations</div>
            <ul class="list-group list-group-flush">
              {% for affiliation in affiliation_assertions %}
              <li class="list-group-item">
              <p><a href="{% url 'institution_detail' affiliation.institution.pk %}">{{ affiliation.institution }}</a></p>
                {% if affiliation.departments.0 != '' %}
                <ul>
                  {% for department in affiliation.departments %}
                  <li>{{ department }}</li>
                  {% endfor %}
                </ul>
                {% endif %}
                <small class="text-muted">Given in {% for work in affiliation.works %}
                <a href="{% url 'work_detail' work.pk %}">{{ work.conference.year }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}</small>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>

    </div>

    {% endblock %}
