<!doctype html>
<html lang="en">

<head>
  {# Load the tag library #}
  {% load bootstrap4 %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {# Load CSS and JavaScript #}
  {% bootstrap_css %}

  {# Display django.contrib.messages as Bootstrap alerts #}
  {% bootstrap_messages %}
</head>

<body>
  {% bootstrap_javascript jquery='full' %}

  {% comment %} Header {% endcomment %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'home_view' %}">ADHO Abstracts</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">Browse</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'series_list' %}">Series</a>
          <a class="dropdown-item" href="{% url 'conference_list' %}">Conferences</a>
          <a class="dropdown-item" href="{% url 'author_list' %}">Authors</a>
          <a class="dropdown-item" href="{% url 'institution_list' %}">Institutions</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  {% block content %}
  {% endblock %}
</div>

<nav class="navbar navbar-static-bottom navbar-light bg-light">
  <p>© <a href="http://dsharp.library.cmu.edu/">dSHARP at Carnegie Mellon University</a>, 2018</p>
</nav>

</body>
</html>