{% extends "base.html" %}

{% block header_title %}{{ form_title }}{% endblock %}

{% block content %}

{% load static %}
{% load crispy_forms_tags %}

<h1>{{ form_title }}</h1>

{% block form_extra %}{% endblock %}

<form method="post">
  {% csrf_token %}
  {{ form | crispy }}
  {{ series_membership_form | crispy }}

  <div class="form-group">
    <button type="submit" class="btn btn-primary mb-2">Save</button>
    {% comment %}<a class="btn btn-secondary mb-2" href="{% url cancel_view %}" role="button">Cancel</a>{% endcomment %}
    {% if delete_view %}
    <a class="btn btn-danger mb-2" href="{% url delete_view object.pk %}" role="button">Delete</a>
    {% endif %}
  </div>
</form>

{% block js %}
{% include 'autocomplete_boilerplate.html' %}
{% endblock %}

{% endblock %}
