{% extends "base.html" %}

{% block content %}

{% for series in conference_list %}
<div class="row">
<div class="card m-2">
  <div class="card-header">
    <h2 name="{{ series.abbreviation }}">{{ series.title }}</h2>
    {% if series.notes  %}
      <p>{{ series.notes | safe }}</p>
    {% endif %}
    <hr>
    <p>Organizers:</p>
    <ul>
    {% for organizer in series.all_organizers %}
    <li><strong>{{ organizer.name }}</strong>{% if organizer.name %}: {{ organizer.notes | safe }}{% endif %}{% if organizer.url %} (Website: <a href="{{ organizer.url }}">{{ organizer.url }}</a>){% endif %}</li>
    {% endfor %}
  </div>
  <ul class="list-group list-group-flush">
    {% for conference in series.conferences.all|dictsort:"year" %}
    <li class="list-group-item">{% include "conference_card.html" with conference=conference %}</li>
    {% endfor %}
  </ul>
</div>
</div>
{% endfor %}

{% endblock %}
