{% extends "base.html" %}

{% block header_title %}{{ form_title }}{% endblock %}

{% block content %}

{% load static %}
{% load crispy_forms_tags %}

<h1>{{ form_title }}</h1>

<script>$(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>

<form method="post">
  {% csrf_token %}
  {{ form | crispy }}
  <div class="form-group">
    <button type="submit" class="btn btn-primary mb-2">Save</button>
    <a class="btn btn-secondary mb-2" href="{% url cancel_view %}" role="button">Cancel</a>
    {% if delete_view %}
    <a class="btn btn-danger mb-2" href="{% url delete_view object.pk %}" role="button">Delete</a>
    {% endif %}
    {% if merge_view %}
    <a class="btn btn-warning mb-2" href="{% url merge_view object.pk %}" role="button" data-toggle="tooltip"
      data-placement="top"
      title="If you have edited any fields above, they will be discarded if you go to the merge page without saving first.">Merge</a>
    {% endif %}
  </div>
</form>

{% block js %}
{% include 'autocomplete_boilerplate.html' %}
{% endblock %}

{% endblock %}
