{% extends "base.html" %}

{% block content %}

<h1>{{ tag.title }}</h1>

<div class="row">
  <div class="col-sm-8">
    <div class="card">
      <div class="card-header">Works</div>
        {% if tag.versions %}
        <ul class="list-group list-group-flush">
          {% for work in tag_works %}
          <li class="list-group-item"><a href="{% url 'work_detail' work %}">{{ work.versions.all | first }}</a></li>
          {% endfor %}
        </ul>
        {% else %}
        <p>There are no abstracts using this tag.</p>
        {% endif %}
      </div>
  </div>

  <div class="col-sm-4">
    <div class="card">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Type: {{ tag.type }}</li>
        <li class="list-group-item">Timespan: {{ tag.StartDate }} - {{ tag.EndDate }}</li>
      </ul>
    </div>
  </div>
</div>

{% endblock %}