<h1>{{ version.title }}</h1>

<a href="{% url 'work_detail' version.work_id %}">Navigate to parent work {{ version.work_id }}</a>

<p class="year">Year: {{ version.year }}</p>
<p>Type: {{ version.type }}</p>
<p>State: {{ version.state }}</p>

<h2>Abstract</h2>

<p>{{ version.full_text }}</p>

<h2>Tags</h2>
{% if version.tags.all %}
<ul>
  {% for tag in version.tags.all %}
  <li><a href="{% url 'tag_detail' tag.tag_id %}">{{ tag.title }}</a></li>
  {% endfor %}
</ul>
{% else %}
<p>This version has no associated tags</p>
{% endif %}
