{% extends "list.html" %}

{% block header_title %}Abstracts{% endblock %}

{% block results_title %}Abstracts search results{% endblock %}

{% block results %}
<div class="card-header">Results: Displaying {{ filtered_works_count }} out of {{ available_works_count }} works</div>
<ul class="list-group list-group-flush">
  {% for work in work_list %}
  <li class="list-group-item">{% include "work_card.html" with work=work %}</li>
  {% endfor %}
</ul>
{% endblock %}

{% block filter %}
{% load static %}
{% load crispy_forms_tags %}
<form action="{{ redirect_url }}" method="get">
  {{ work_filter_form.media }}
  {{ work_filter_form|crispy }}
  <div class="form-group">
  <button type="submit" class="btn btn-primary mb-2">Filter</button>
  <a class="btn btn-secondary mb-2" href="{{ redirect_url }}" role="button">Reset</a>
  </div>
</form>
{% endblock %}
