{% extends "base.html" %}

{% block header_title %}Editing abstract ID {{ work.pk }}{% endblock %}

{% block content %}
<div class="card m-2" id="content-card">
  <div class="card-header">
    <nav>
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'work_edit' work.pk %}">Abstract Details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'work_edit_authorship' work.pk %}">Authorships</a>
        </li>
        <li class="nav-item ml-auto">
          <a class="btn btn-danger" href="{% url 'work_delete' work.pk %}">Delete</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="card-body">
    {% load static %}
    {% load crispy_forms_tags %}
    <form method="post">
      {% csrf_token %}
      {{ authorships_form.management_form }}
      <ul class="list-group list-group" id="authorship_formset">
        {% for form in authorships_form %}
        <li class="list-group-item authorship_form" id="authorship_{{ forloop.counter0 }}">
          <h2>Author {{ form.authorship_order }}</h2>
          <p>{{ form.DELETE|as_crispy_field }}</p>
          <div class="row">
            <div class="col">
              {{ form.author|as_crispy_field }}
              {{ form.first_name|as_crispy_field }}
              {{ form.last_name|as_crispy_field }}
            </div>
            <div class="col">
              {{ form.affiliation|as_crispy_field }}
              {{ form.department|as_crispy_field }}
              {{ form.institution|as_crispy_field }}
              <a href="{% url 'institution_create' %}" class="btn btn-primary btn-small mx-2" role="button"
                target="_blank">Create new institution</a>
              {{ form.genders|as_crispy_field }}
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
      <input class="btn btn-primary" id="add_authorship" type="button" value="Add author">
      <div class="form-group my-4">
        <button name="submit" type="submit" class="btn btn-primary mb-2">Submit</button>
        <a class="btn btn-secondary mb-2" href="{% url 'work_detail' work.pk %}" role="button">Cancel</a>
        <button type="submit" class="btn btn-secondary mb-2" href="{% url 'work_detail' work.pk %}" name="start_new"
          value="new_work">Save and start new work</a>
      </div>
    </form>
  </div>
</div>

{% endblock %}

{% block js %}
{% include "autocomplete_boilerplate.html" %}
{% comment %}
When the user selects an author, fill in the most recent known information about that author.
{% endcomment %}
<script>

  var author_count = {{ authorships_form.total_form_count }};

  $("#add_authorship").click(function () {
    author_count++;

    var newformid = "authorship_" + author_count;
    var newform = '<li class="list-group-item authorship_form" id="' + newformid + '"> <h2> Author {{ authorships_form.empty_form.authorship_order|escapejs }} <input type="button" class="btn btn-danger" id="remove-authorship-' + newformid + '" value="Remove authorship"></h2> <div class="row"> <div class="col"> {{ authorships_form.empty_form.author | as_crispy_field|escapejs }} {{ authorships_form.empty_form.first_name | as_crispy_field|escapejs }} {{ authorships_form.empty_form.last_name | as_crispy_field|escapejs }} </div> <div class="col"> {{ authorships_form.empty_form.affiliation | as_crispy_field |escapejs}} {{ authorships_form.empty_form.department | as_crispy_field|escapejs }} {{ authorships_form.empty_form.institution | as_crispy_field|escapejs }} <a href="{% url 'institution_create' %}" class="btn btn-primary btn-small mx-2" role="button" target = "_blank">Create new institution</a>{{ authorships_form.empty_form.genders | as_crispy_field |escapejs}} </div> </div> </li>';
    newform = newform.replace(/__prefix__/g, author_count - 1);

    $("#authorship_formset").append(newform);

    $("#id_form-" + (author_count - 1) + "-authorship_order").val(author_count);
    $("#id_form-TOTAL_FORMS").val(author_count);
  });

  $("#authorship_formset").on("click", "input[id^='remove-authorship']", function () {
    var parentform = $(this).parents(".authorship_form");
    parentform.remove();
    author_count--;
    $("#id_form-TOTAL_FORMS").val(author_count);
  });

  $("#authorship_formset").on("select2:select", "select[id$='-author']", function () {
    var parent_li = $(this).parents("li");
    var fname_field = parent_li.find("input[id$='first_name']");
    var lname_field = parent_li.find("input[id$='last_name']");
    var aff_select = parent_li.find("select[id$='affiliation']");
    $.getJSON("/author-info-json/" + $(this).val(), function (data) {
      fname_field.val(data.first_name);
      lname_field.val(data.last_name);
      // If author has no preferred affiliation, then blank out the affiliation field
      if (typeof data.affiliation == "undefined") {
        aff_select.val(null).trigger('select2:unselect').trigger('change');
        // aff_select.trigger('select2:unselect');
      } else {
        var affiliation_option = new Option(data.affiliation.name, data.affiliation.id, true, true);
        aff_select.append(affiliation_option).trigger('change');
        aff_select.trigger({
          type: "select2:select",
          params: {
            data: data
          }
        });
      }

      if (typeof data.genders != "undefined") {
        parent_li.find("input[id*='genders']").prop("checked", false);
        var i;
        for (i = 0; i < data.genders.length; ++i) {
          gender_box = parent_li.find("input[id*='genders_" + data.genders[i] + "']");
          gender_box.prop("checked", true);
        }
      }

      parent_li.find(".author_card").remove();
      acard = '<div class="card author_card my-2"><div class="card-header">' + data.first_name + ' ' + data.last_name + '</div><div class="card-body"><p>Selected Works (' + data.works_count + ' total): ' + data.work_titles.join(", ") + "</p>";
      if (typeof data.affiliation != "undefined") {
        acard = acard + "<p>Affiliation: " + data.affiliation.name + "</p>";
      }
      acard = acard + "</div></div >";
      before_name = parent_li.find(".form-group[id$='first_name']")
      before_name.before(acard);
    });
  });

  $("#authorship_formset").on("select2:select", "select[id$='-affiliation']", function () {
    var parent_li = $(this).parents("li");
    var dept_field = parent_li.find("input[id$='department']");
    var inst_select = parent_li.find("select[id$='institution']");
    if ($(this).val() != "") {
      $.getJSON("/affiliation-info-json/" + $(this).val(), function (data) {
        dept_field.val(data.department);
        var institution_option = new Option(data.institution.name, data.institution.id, true, true);
        inst_select.append(institution_option).trigger('change');
      });
    }
  });

  $("#authorship_formset").on("select2:unselect", "select[id$='-affiliation']", function () {
    var parent_li = $(this).parents("li");
    var dept_field = parent_li.find("input[id$='department']");
    var inst_select = parent_li.find("select[id$='institution']");
    dept_field.val(null);
    inst_select.val(null).trigger('change');
  });

  $("#authorship_formset").on("select2:select", "select[id$='-institution']", function () {
    var parent_li = $(this).parents("li");
    var aff_select = parent_li.find("select[id$='affiliation']");
    var dept_field = parent_li.find("input[id$='department']");
    aff_select.val(null).trigger("change");
  });

  $("#authorship_formset").on("input", "input[id$='-department']", function () {
    var parent_li = $(this).parents("li");
    var aff_select = parent_li.find("select[id$='affiliation']");
    aff_select.val(null).trigger("change");
  });
</script>
{% endblock %}
