{% extends "base.html" %}

{% block header_title %}Editing abstract ID {{ work.pk }}{% endblock %}

{% block content %}
<div class="card m-2">
  <div class="card-header">
    <nav>
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'work_edit' work.pk %}">Abstract Details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'work_edit_authorship' work.pk %}">Authorships</a>
        </li>
        <li class="nav-item ml-auto">
          <a class="btn btn-danger" href="{% url 'work_delete' work.pk %}">Delete</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="card-body">
    {% load static %}
    {% load crispy_forms_tags %}
    <form method="post">
      {% csrf_token %}
      {{ authorships_form.management_form }}
      <ul class="list-group list-group" id="authorship_formset">
        {% for form in authorships_form %}
        <li class="list-group-item" id="authorship_{{ forloop.coutner0 }}">
          <h2>Author {{ form.authorship_order }}</h2>
          <p>{{ form.DELETE|as_crispy_field }}</p>
          <div class="row">
            <div class="col">
              {{ form.author|as_crispy_field }}
              {{ form.first_name|as_crispy_field }}
              {{ form.last_name|as_crispy_field }}
            </div>
            <div class="col">
              {{ form.affiliation|as_crispy_field }}
              {{ form.department|as_crispy_field }}
              {{ form.institution|as_crispy_field }}
              {{ form.genders|as_crispy_field }}
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
      <input class="btn btn-primary" id="add_authorship" type="button" value="Add author">
      <div class="form-group my-4">
        <button name="submit" type="submit" class="btn btn-primary mb-2">Submit</button>
        <a class="btn btn-secondary mb-2" href="{% url 'work_detail' work.pk %}" role="button">Cancel</a>
        <button type="submit" class="btn btn-secondary mb-2" href="{% url 'work_detail' work.pk %}" name="start_new"
          value="new_work">Save and start new work</a>
      </div>
    </form>
  </div>
</div>

{% endblock %}

{% block js %}
{% include "autocomplete_boilerplate.html" %}
{% comment %}
When the user selects an author, fill in the most recent known information about that author.
{% endcomment %}
<script>

  var author_count = {{ authorships_form.total_form_count }};

  $("#add_authorship").click(function () {
    author_count++;
    var authorship_form = '{{ authorships_form.empty_form|crispy|escapejs }}'.replace(/__prefix__/g, author_count - 1);
    $("#authorship_formset").append(authorship_form);
    $("#id_form-" + author_count + "-authorship_order").val(author_count);
    $("#id_form-TOTAL_FORMS").val(author_count);
  })

  {% for index in max_authors %}
  $(document).ready(function () {
    var author_select = $("#id_form-{{ forloop.counter0 }}-author");
    var aff_select = $("#id_form-{{ forloop.counter0 }}-affiliation");
    var inst_select = $("#id_form-{{ forloop.counter0 }}-institution");
    var dept_field = $("#id_form-{{ forloop.counter0 }}-department");

    author_select.on("select2:select", function (e) {
      $.getJSON("/author-info-json/" + author_select.val(), function (data) {
        $("#id_form-{{ forloop.counter0 }}-first_name").val(data.first_name);
        $("#id_form-{{ forloop.counter0 }}-last_name").val(data.last_name);
        var affiliation_option = new Option(data.affiliation.name, data.affiliation.id, true, true);
        aff_select.append(affiliation_option).trigger('change');
        aff_select.trigger({
          type: "select2:select",
          params: {
            data: data
          }
        });
      });
    });

    aff_select.on("select2:select", function (e) {
      $.getJSON("/affiliation-info-json/" + aff_select.val(), function (data) {
        dept_field.val(data.department);
        var institution_option = new Option(data.institution.name, data.institution.id, true, true);
        inst_select.append(institution_option).trigger('change');
      });
    });

    inst_select.on("select2:select", function (e) {
      aff_select.val(null).trigger("change");
    });

    dept_field.on("input", function (e) {
      aff_select.val(null).trigger("change");
    });
  });
  {% endfor %}
</script>
{% endblock %}
