// Custom overrides for default Bootstrap variables
// Used for the DH Abstracts theme designed by Heidi Wiren Bartlett, CMU Libraries

$white: #fff !default;
$link-color: #008bc0;
$font-size-base: 0.9rem;
$font-family-base: "Open Sans";
$font-weight-light: 300 !default;
$font-weight-normal: 500 !default;
$font-weight-bold: 700 !default;
$enable-rounded: true;
$enable-responsive-font-sizes: true;
$enable-shadows: true;

$warning: #fcb415;
$success: #009647;
$info: #008e90;
$secondary: #808080;

$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$h1-font-size: $font-size-base * 2.2 !default;
$h6-font-size: $font-size-base;
$headings-font-weight: $font-weight-bold;

$gray-background: #f2f2f2;
$card-cap-bg: $gray-background;

// Fullscreen parent

.parent {
  min-height: 100vh;
}

// Typography customizations

$headings-margin-bottom: 1.5rem !default;

figure > figcaption {
  text-align: center;
  margin: 1rem 0 1rem 0;
}

// Navbar customizations

$navbar-dark-color: rgba($white, 1);
$navbar-dark-hover-color: rgba($white, 1) !default;

nav.navbar {
  text-transform: uppercase;
  font-weight: $font-weight-bold;
}

// Alert customizations

.alert {
  font-weight: $font-weight-bold;
}

// Card Customizations

.card {
  box-shadow: 5px 5px 5px lightgray;
  border: none !important;
  border-left: 1px solid $gray-background !important;
  border-top: 1px solid $gray-background !important;
  border-radius: 5px;

  .card-header {
    text-transform: uppercase;
    border: none;
  }
}

.badge.completion-status {
  text-transform: uppercase;
  border-radius: 20px;
}

// Navbar

nav.nav-shadow {
  box-shadow: 0px 5px 5px gray;
}

// Home splash page

.homepage {
  background-image: url("/static/images/homepage-splash.jpg");
  background-size: 100%;

  .splash-block {
    margin-top: 0;
    margin-bottom: 5rem;
    padding: 4rem 15% 10rem 15%;
    background-color: rgba($white, 0.75);

    h1 {
      font-size: 4rem;
      text-align: center;
    }

    p {
      font-size: 1.5rem;
      text-align: center;
    }
  }

  .browse-block {
    background-color: transparent;
    position: relative;
    top: -12rem;

    .browse-content {
      padding: 0 8rem 3rem 8rem;
      background-color: black;
      border-radius: 20px;
    }

    p {
      text-transform: uppercase;
      font-size: 2rem;
      font-weight: $font-weight-light;
      letter-spacing: 0.3rem;
    }

    a.btn {
      margin: 0.5rem 0.5rem 0.5rem 0.5rem;
      text-transform: uppercase;
      font-weight: $font-weight-bold;
      background-color: #f2f2f2;
      color: black;
      border-radius: 20px;
    }
  }
}

// work list conference card

.card.work-list-conference-card {
  background-color: $gray-background;

  p {
    margin-bottom: 0.1rem;
    font-size: small;
  }

  h5 > a {
    font-weight: $font-weight-light;
    font-size: xx-large;
    color: #008bc0;
  }

  .conference-location.unit {
    p {
      font-weight: $font-weight-normal;
    }
  }

  .series-membership-box {
    background-color: #ffffff;
  }

  .conference-notes {
    color: #808080;
  }
}

// Work list card

li.work {
  p.work-type {
    font-size: small;
  }

  p.authors {
    font-size: large;
  }

  span.fts {
    text-transform: uppercase;
    border-radius: 10px;
    background-color: #f2f2f2;
  }

  .fts.fts-retrieved {
    background-color: #8ab8e8;
  }

  .work-facets-box {
    background-color: $gray-background;
  }
}

// Work detail page

span.work-type {
  background-color: #666666;
  border-radius: 20px;
  a {
    font-weight: $font-weight-bold;
    color: white;
    text-transform: uppercase;
  }
}

a.facet-link {
  text-decoration: underline;
}

.work-detail-conference-card {
  h5 {
    margin-bottom: 1rem;
  }

  .conference-location-unit {
    p {
      font-size: 0.7rem;
      margin-bottom: 0.2rem;
      font-weight: $font-weight-normal;
    }
  }

  .series-membership-box {
    background-color: $gray-background;
  }
}

// Conference series progress

span.progress-def {
  margin-left: 0.6rem;
  padding: 0.4rem 0.7rem 0.4rem 0.7rem;
  border-radius: 20px;
  font-weight: $font-weight-bold;
  color: white;
  text-transform: uppercase;
}

// Conference Series Detail page

.date-spread {
  letter-spacing: 0.2rem;
}

.conference-series-detail {
  h2 {
    border-bottom: 1px solid gray;
    padding-bottom: 2rem;
  }
}

.series-list-conference-card {
  .series-membership-box {
    background-color: $gray-background;
  }

  h5 {
    margin-bottom: 1rem;
  }

  .conference-location-unit {
    p {
      font-size: 0.7rem;
      margin-bottom: 0.2rem;
      font-weight: $font-weight-normal;
    }
  }
}

@import "./bootstrap/scss/bootstrap";
