{% extends "full_institution_list.html" %}

{% block results_title %}Authors by institution{% endblock %}


{% block inst_card %}
{% for institution in institution_list %}
<li class="list-group-item">
  <h5 class="mb-1">
    <a href="{% url 'institution_edit' institution.pk %}">{{ institution }}</a>
  </h5>
  <div class="card">
    <div class="card-header">Authors</div>
    <ul class="list-group list-group-flush">
      {% for author in institution.affiliated_authors %}
      <li class="list-group-item  d-flex justify-content-between align-items-center">
        <a href="{% url 'author_detail' author.pk %}">{{ author }}</a>
        <span>Number of works: <span class="badge badge-primary">{{ author.works.count }}</span></span>
      </li>
      {% endfor %}
    </ul>
  </div>
</li>
{% endfor %}
{% endblock %}
