{% extends "base.html" %}

{% block head_title %}Splitting author {{ original_author }}{% endblock %}

{% block content %}

{% load static %}
{% load crispy_forms_tags %}

<p>Choose authorships to split into a new author. All appellations and affiliations will be maintained.</p>

<form action="{% url 'author_split' original_author.id %}" method="post">
  {% csrf_token %}
  <div class="form-group">
    <label for="splitselect">Authorships</label>
    <select multiple class="form-control" name="splitselect" id="id_splitselect" size="20">
      {% for authorship in authorships %}
      <option value="{{ authorship.id }}">{{ authorship.work.conference }}: "{{ authorship.work.title }}"</option>
      {% endfor %}
    </select>
  </div>
  <div class="alert alert-danger">This action cannot be undone!</div>
  <button type="submit" class="btn btn-primary mb-2">Split</button>
</form>
{% endblock %}
