{% extends "detail.html" %}

{% block metadata %}
{% include "twitter_card.html" with title=appellations.first content="Works submitted by this author" %}
{% endblock %}

{% block header_title %}{{ appellations.first }}{% endblock %}

{% block title %}{{ appellations.first }}{% endblock %}

{% block main %}
<div class="card m-2">
  <div class="card-header">Works</div>
  <ul class="list-group list-group-flush">
    {% for work in works %}
    <li class="list-group-item">{% include "work_card.html" with work=work %}</li>
    {% endfor %}
  </ul>
</div>
{% endblock %}

{% block context %}
{% if user.is_authenticated %}
<div class="card my-2">
  <div class="card-header">Administration</div>
  <div class="card-body">
    <a href="{% url 'author_merge' author.pk %}" class="btn btn-warning" role="button">Merge</a>
    <a class="btn btn-primary" role="button" href="{{ author_admin_page }}">Edit this author</a>
  </div>
</div>
{% endif %}
<div class="card my-2">
  <div class="card-header">All Names</div>
  <ul class="list-group list-group-flush">
    {% for appellation in appellations %}
    <li class="list-group-item">
      <div class="d-flex justify-content-between">
        <p>{{ appellation.first_name }} {{ appellation.last_name }}</p>
      </div>
      <small class="text-muted">Given in {% for authorship in appellation.asserted_by.all %}
        <a
          href="{% url 'work_detail' authorship.work.id %}">{{ authorship.work.conference.year }}</a>{% if not forloop.last %},
        {% endif %}
        {% endfor %}</small>
    </li>
    {% endfor %}
  </ul>
</div>
<div class="card my-2">
  <div class="card-header">All Affiliations</div>
  <ul class="list-group list-group-flush">
    {% for affiliation in affiliations %}
    <li class="list-group-item">
      <p><a
          href="{% url 'author_list' %}?affiliation={{ affiliation.id }}">{% include "affiliation_string.html" with department=affiliation.department institution=affiliation.institution.name institution_city=affiliation.institution.city institution_state=affiliation.institution.state_province_region institution_country=affiliation.institution.country.pref_name %}</a>
      </p>
      <small class="text-muted">Given in {% for authorship in affiliation.asserted_by.all %}
        <a
          href="{% url 'work_detail' authorship.work.id %}">{{ authorship.work.conference.year }}</a>{% if not forloop.last %},
        {% endif %}
        {% endfor %}</small>
      {% endfor %}
  </ul>
</div>
{% endblock %}
