<h6 class="mb-1">
  <a
    href="{% if editor_view %}{% url 'author_detail' author.id %}{% else %}{% url 'author_detail' author.id %}{% endif %}">
    {{ author }} <span class="badge badge-info">{{ author.authorships.count }}</span> works
    authored</a></h6>
{% with authorship=author.authorships.last %}
<p class=" mb-0 text-muted">
  {% include "affiliation_string.html" with department=authorship.affiliations.first.department institution=authorship.affiliations.first.institution institution_city=authorships.affiliations.first.institution.city institution_country=authorships.affiliations.first.institution.country %}
</p>
{% endwith %}
