{% extends "list.html" %}

{% block header_title %}Authors{% endblock %}

{% block results_title %}Author search results{% endblock %}

{% load static %}
{% load crispy_forms_tags %}

<h1>Authors</h1>

{% block results %}
<div class="card-header">Current filter is returning {{ page_obj.paginator.count }} out of {{ available_authors_count }}
  authors
</div>
<ul class="list-group list-group-flush">
  {% for author in author_list %}
  <li class="list-group-item p-3">
    <div class="mb-1 d-flex justify-content-between align-items-center">
      <h6>
        <a href="{% url 'author_detail' author.id %}">
          {{ author.most_recent_first_name }} {{ author.most_recent_last_name }}</a>
      </h6>
      <h6 class="badge badge-info">
        {{ author.n_works }} work{{ author.n_works | pluralize }}
      </h6>
    </div>
    <p class=" mb-0 text-muted">
      Most recent affiliation:
      {% include "affiliation_string.html" with department=author.main_affiliation_department institution=author.main_affiliation_institution institution_city=author.main_affiliation_institution_city institution_state=author.main_affiliation_institution_state author=main_affiliation_institution_country %}
    </p>
  </li>
  {% endfor %}
</ul>
{% endblock %}

{% block filter %}
<form action="{{ redirect_url }}" method="get">
  {{ author_filter_form|crispy }}
  <div class="form-group">
    <button type="submit" class="btn btn-primary mb-2">Filter</button>
    <a class="btn btn-secondary mb-2" href="{{ redirect_url }}" role="button">Reset</a>
  </div>
</form>
{% endblock %}

{% block js %}
{% include 'autocomplete_boilerplate.html' %}
{% endblock js %}
