{% extends "base.html" %}

{% block header_title %}{% endblock %}

{% block content %}
<div class="card m-2">
  <div class="card-header">
    <nav>
      {% block navpills %}{% endblock %}
    </nav>
  </div>
  <div class="card-body">
    {% load static %}
    {% load crispy_forms_tags %}
    <form method="post">
      {% csrf_token %}
      {{ work_form.title | as_crispy_field }}
      <div class="row">
        <div class="col">
          <h3>Conference Info</h3>
          {{ work_form.conference | as_crispy_field }}
          {{ work_form.work_type | as_crispy_field }}
          {{ work_form.url | as_crispy_field }}
          <div class="d-flex align-items-center">
            {{ work_form.languages | as_crispy_field }}
            <a href="{% url 'language_create' %}" class="btn btn-primary btn-small mx-2" role="button"
              target="_blank">+</a>
          </div>
        </div>
        <div class="col">
          <h3>Tags</h3>
          <div class="d-flex align-items-center">
            {{ work_form.keywords | as_crispy_field }}
            <a href="{% url 'keyword_create' %}" class="btn btn-primary btn-small mx-2" role="button"
              target="_blank">+</a>
          </div>
          <div class="d-flex align-items-center">
            {{ work_form.topics | as_crispy_field }}
            <a href="{% url 'topic_create' %}" class="btn btn-primary btn-small mx-2" role="button"
              target="_blank">+</a>
          </div>
        </div>
      </div>
      <h3>Parent session</h3>
      {{ work_form.parent_session | as_crispy_field }}
      <h3>Full Text</h3>
      <div class="row">
        <div class="col">
          {{ work_form.full_text_type | as_crispy_field }}
        </div>
        <div class="col">
          {{ work_form.full_text_license | as_crispy_field }}
        </div>
      </div>
      {{ work_form.full_text | as_crispy_field}}
      <div class="form-group">
        {% block submit_buttons %}{% endblock %}
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block js %}
{% include 'autocomplete_boilerplate.html' %}
{% endblock js %}
