<h5 class="mb-1">
  <a href="{% url 'work_list' %}?conference={{ conference.pk }}">{{ conference.year }} -
    {{ conference.venue }}</a>
</h5>
<div class="d-flex justify-content-between">
  <div>
    <p>{{ conference.public_works.count }} works by {{ conference.public_authors }} authors</p>
  </div>
  <div>
    {% if conference.series_memberships.exists %}
    <p class="my-0">
      <small class="text-muted">
        Series:
        {% for membership in conference.series_memberships.all %}
        {% if user.is_authenticated %}
        <a href="{% url 'series_edit' membership.series.pk %}">{{ membership.series }}</a>
        {% else %}
        {{ membership.series }}
        {% endif %}
        {% if not forloop.last %},
        {% endif %}{% endfor %}
      </small>
    </p>
    {% endif %}
    {% if conference.organizers.exists %}
    <p class="my-0">
      <small class="text-muted">
        Organizers:
        {% for organizer in conference.organizers.all %}
        {% if user.is_authenticated %}
        <a href="{% url 'organizer_edit' organizer.pk %}">{{ organizer }}</a>
        {% else %}
        {{ organizer }}
        {% endif %}
        {% if not forloop.last %},
        {% endif %}{% endfor %}
      </small>
    </p>
    {% endif %}
  </div>
</div>
{% if conference.notes or conference.url %}
{% if conference.notes %}<p>{{ conference.notes | safe }}</p>{% endif %}
{% if conference.url %}<p>Conference website: <a href="{{ conference.url }}">{{ conference.url }}</a></p>{% endif %}
{% endif %}
{% if user.is_authenticated %}
<a href="{% url 'conference_edit' conference.pk %}" role="button" class="btn btn-primary btn-sm">Edit</a>
<a href="{% url 'conference_delete' conference.pk %}" role="button" class="btn btn-danger btn-sm">Delete</a>
<a href="{% url 'work_create' %}?conference={{ conference.pk }}" role="button" class="btn btn-primary btn-sm">New
  abstract</a>
{% endif %}
