{% extends "base.html" %}

{% block header_title %}{{ form_title }}{% endblock %}

{% block content %}

{% load static %}
{% load crispy_forms_tags %}

<h1>{{ form_title }}{% if object %}{{ object }}{% endif %}</h1>

<p>Upload a .zip file of TEI-XML documents, each encoding a single work. <a
    href="{% static '/tei/valid_tei/abstract_tei.xml' %}">View an example TEI-XML file
    here.</a></p>
<p><strong>All TEI files must be valid</strong> in order for the import to go forward. If any files cannot be correctly
  ingested, errors will be displayed alongside the associated filenames, and you will be prompted to modify the affected
  files before re-uploading the entire ZIP.</p>
<p>Try not to upload more than 500 XML files at a time, since properly matching named
  entities can take many milliseconds for files with many authors, affiliations, and keywords. If you get a
  <code>504: Gateway Timeout</code> error, try
  uploading fewer
  files at once.
</p>

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form | crispy }}
  <button type="submit" class="btn btn-primary mb-2">Upload</button>
  <a class="btn btn-secondary mb-2" href="{% url 'work_list' %}?conference={{ object.pk }}" role="button">Return to
    conference</a>
</form>

{% block js %}
{% endblock %}

{% endblock %}
