{% extends "conference_create.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block seriesforms %}
<h2>Conference Series</h2>
<input class="btn btn-primary btn-sm" type="button" value="Add to series" id="add_series">
{{ series_membership_form.management_form }}
<div id="membership_formset">
  {% for form in series_membership_form.forms %}
  <div class="row" id="series_{{ forloop.counter0 }}">
    <div class="col">
      {{ form.series | as_crispy_field }}
    </div>
    <div class="col">
      {{ form.number | as_crispy_field }}
      {{ form.DELETE | as_crispy_field }}
    </div>
  </div>
  {% endfor %}
</div>
<h2>Conference Documents</h2>
<a href="{% url 'admin:abstracts_conference_change' conference.id %}" rel="noopener noreferrer" target="_blank"
  type="button" class="btn btn-info my-2">
  Upload/edit documents (opens new tab)
</a>
{% if conference.documents.exists %}
<ul class="list-group my-2">
  {% for document in conference.documents.all %}
  <li class="list-group-item"><i class="far fa-file mr-1"></i> <a href="{{ document.url }}">{{ document.basename }}
      ({{ document.size|filesizeformat }})</a>
  </li>
  {% endfor %}
</ul>
{% endif %}
{% endblock %}

{% block js %}
{% include "autocomplete_boilerplate.html" %}
<script>
  var form_count = {{ series_membership_form.total_form_count }};

  $('#add_series').click(function () {
    form_count++;
    var form = '{{ series_membership_form.empty_form|crispy|escapejs }}'.replace(/__prefix__/g, form_count - 1);
    $('#membership_formset').append(form);
    $('#id_form-TOTAL_FORMS').val(form_count);
  });
</script>
{% endblock %}
