<div class="d-flex justify-content-between align-items-baseline">
  <h5 class="mb-1 flex-shrink-true">
    <a href="{% url 'work_list' %}?conference={{ conference.id }}">
      {% if conference.main_series and show_series %}
      {{ conference.main_series }} - {{ conference.year }}
      {% elif conference.main_series and not show_series %}
      {{ conference.year }}
      {% if conference.short_title %}
      - {{ conference.short_title }}
      {% elif conference.city %}
      - {{ conference.city }}
      {% elif conference.hosting_institutions %}
      - {{ conference.hosting_institutions.first.name }}
      {% endif %}
      {% else %}
      {{ conference.year }} - {{ conference.theme_title }}
      {% if conference.short_title %}
      - {{ conference.short_title }}
      {% elif conference.city %}
      - {{ conference.city }}
      {% elif conference.hosting_institutions %}
      - {{ conference.hosting_institutions.first.name }}
      {% endif %}
      {% endif %}
    </a>
  </h5>
  <span>
    {% if user.is_authenticated and conference.editing_user %}
    <span class="badge badge-light flex-shrink-0">Checked out by {{ conference.editing_user }}</span>
    {% endif %}
    {% if conference.entry_status == "n" %}
    <span class="badge badge-secondary flex-shrink-0">Not started</span>
    {% elif conference.entry_status == "i" %}
    <span class="badge badge-warning flex-shrink-0">Incomplete</span>
    {% elif conference.entry_status == "r" %}
    <span class="badge badge-info flex-shrink-0">In review</span>
    {% elif conference.entry_status == "c" %}
    <span class="badge badge-success flex-shrink-0">Complete</span>
    {% endif %}
  </span>
</div>
{% if conference.theme_title and conference.main_series %}
<h6>"{{ conference.theme_title }}"</h6>
{% endif %}
{% if conference.hosting_institutions.exists %}
<small class="text-muted">
  Hosted at {{ conference.hosting_institutions.all|join:", "}}
</small>
<br>
{% endif %}
<small class="text-muted">
  {% if conference.city %}{{ conference.city }},
  {% endif %}{% if conference.state_province_region %}{{ conference.state_province_region }},
  {% endif %}{% if conference.country %}{{ conference.country }}{% endif %}
</small>
{% if conference.start_date %}
<br>
<small class="text-muted">{{ conference.start_date }}
  -
  {{ conference.end_date }}</small>
{% endif %}

<div class="d-flex justify-content-between">
  <div>
    <p>{{ conference.n_works }} works by {{ conference.n_authors }} authors indexed</p>
  </div>
  <div>
    {% if conference.series_memberships.exists %}
    <p class="my-0">
      <small class="text-muted">
        Series:
        {% for membership in conference.series_memberships.all %}
        <a href="{% url 'conference_series_detail' membership.series.id %}">{{ membership.series.abbreviation }}</a>
        ({{ membership.number }}){% if not forloop.last %},{% endif %}{% endfor %}
      </small>
    </p>
    {% endif %}
    {% if conference.organizers.exists %}
    <p class="my-0">
      <small class="text-muted">
        Organizers:
        {% for organizer in conference.organizers.all %}
        {% if user.is_authenticated %}
        <a href="{% url 'organizer_edit' organizer.id %}">{{ organizer.abbreviation }}</a>
        {% else %}
        {{ organizer.abbreviation }}{% endif %}{% if not forloop.last %},{% endif %}{% endfor %}
      </small>
    </p>
    {% endif %}
  </div>
</div>
{% if conference.notes %}<p>{{ conference.notes|urlize }}</p>{% endif %}
{% if conference.url %}<p>Conference website: <a href="{{ conference.url }}">{{ conference.url }}</a></p>{% endif %}
{% if conference.references %}<p>References: <cite>{{ conference.references|urlize }}</cite></p>{% endif %}
{% if conference.contributors %}<p>Contributors: {{ conference.contributors }}</p>{% endif %}
{% if conference.attendance %}<p>Attendance: {{ conference.attendance|urlize }}</p>{% endif %}
{% if conference.primary_contact %}<p>Primary contact: {{ conference.primary_contact }}</p>{% endif %}
{% if user.is_authenticated %}
{% if conference.documents.exists %}
<div class="card my-2">
  <div class="card-header p-1">Files</div>
  <ul class="list-group list-group-flush">
    {% for document in conference.documents.all %}
    <li class="list-group-item p-1"><i class="far fa-file mr-1"></i> <a
        href="{{ document.url }}">{{ document.basename }} ({{ document.size|filesizeformat }})</a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}
{% endif %}
{% if user.is_authenticated %}
<a href="{% url 'conference_checkout' conference.id %}" role="button" class="btn btn-secondary btn-sm">Checkout</a>
<a href="{% url 'conference_edit' conference.id %}" role="button" class="btn btn-primary btn-sm">Edit</a>
<a href="{% url 'conference_delete' conference.id %}" role="button" class="btn btn-danger btn-sm">Delete</a>
<a href="{% url 'work_create' %}?conference={{ conference.id }}" role="button" class="btn btn-primary btn-sm">New
  abstract</a>
{% endif %}
