{% extends "base.html" %}

{% block header_title %}Conferences{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-3">
    <div class="card m-2">
      <div class="card-header">Conference Series</div>
      <ul class="list-group list-group-flush">
        {% for series in conference_list %}
        <li class="list-group-item"><a href="#{{ series.abbreviation }}">{{ series.title }}</a></li>
        {% endfor %}
        {% if standalone_conferences %}
        <li class="list-group-item"><a href="#standalone">Standalone Events</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
  <div class="col-md-9">
    {% if user.is_authenticated %}
    <div class="card m-2">
      <div class="card-body">
        <a href="{% url 'conference_create' %}" type="button" class="btn
        btn-primary">Create
          conference</a>
        <a href="{% url 'series_create' %}" type="button" class="btn
                btn-primary">Create
          series</a>
        <a href="{% url 'organizer_create' %}" type="button" class="btn
                btn-primary">Create
          organizer</a>
      </div>
    </div>
    {% endif %}
    {% for series in conference_list %}
    <div class="card m-2">
      <div class="card-header">
        <div class="d-flex justify-content-between">
          <h2 id="{{ series.abbreviation }}">{{ series.title }}</h2>
          {% if not forloop.first %}<a href="#"><small>back to top</small></a>{% endif %}
        </div>
        {% if series.notes  %}
        <p>{{ series.notes | safe }}</p>
        {% endif %}
        <hr>
        <p>Organizers:</p>
        <ul>
          {% for organizer in series.all_organizers %}
          <li><strong>{{ organizer.name }}</strong>{% if organizer.name %}{% if organizer.notes %}:
            {{ organizer.notes | safe }}{% endif %}{% endif %}{% if organizer.url %} (Website: <a
              href="{{ organizer.url }}">{{ organizer.url }}</a>){% endif %}</li>
          {% endfor %}
      </div>
      <ul class="list-group list-group-flush">
        {% for conference in series.conferences.all|dictsort:"year" %}
        <li class="list-group-item">{% include "conference_card.html" with conference=conference %}</li>
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
    {% if standalone_conferences %}
    <div class="card m-2">
      <div class="card-header">
        <div class="d-flex justify-content-between">
          <h2 id="standalone">Standalone Events</h2>
          <a href="#"><small>back to top</small></a>
        </div>
      </div>
      <ul class="list-group list-group-flush">
        {% for conference in standalone_conferences|dictsort:"year" %}
        <li class="list-group-item">{% include "conference_card.html" with conference=conference %}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </div>

  {% endblock %}
