{% extends "base.html" %}

{% block header_title %}{{ form_title }}{% endblock %}

{% block content %}

{% load static %}
{% load crispy_forms_tags %}

<h1>{{ form_title }}</h1>

{% block form_extra %}{% endblock %}

<form method="post">
  {% csrf_token %}
  {{ form.entry_status | as_crispy_field }}
  <h3>Title</h3>
  <div class="row">
    <div class="col-6">{{ form.short_title | as_crispy_field }}</div>

    <div class="col-6">{{ form.theme_title | as_crispy_field }}</div>
  </div>
  <h3>Dates & Locations</h3>
  <div class="row">
    <div class="col-6">
      {{ form.year | as_crispy_field}}
      <div class="row">
        <div class="col-6">{{ form.start_date | as_crispy_field }}</div>
        <div class="col-6">{{ form.end_date | as_crispy_field }}</div>
      </div>
    </div>
    <div class="col-6">
      {{ form.hosting_institutions | as_crispy_field }}
      <div class="row">
        <div class="col-6">{{ form.city | as_crispy_field}}</div>
        <div class="col-6">{{ form.state_province_region | as_crispy_field }}</div>
      </div>
      {{ form.country | as_crispy_field }}
    </div>
  </div>
  <h3>Notes & References</h3>
  {{ form.url | as_crispy_field }}
  {{ form.references | as_crispy_field }}
  <div class="row">
    <div class="col-6">{{ form.contributors | as_crispy_field }}</div>
    <div class="col-6">{{ form.attendance | as_crispy_field }}</div>
  </div>
  {{ form.notes | as_crispy_field }}
  {{ form.organizers | as_crispy_field }}
  {% block seriesforms %}<small>Save changes below first in order to add this conference to one or more conference
    series, or to upload associated documents.</small>{% endblock %}
  <div class="form-group">
    <button type="submit" class="btn btn-primary mb-2">Save</button>
    {% comment %}<a class="btn btn-secondary mb-2" href="{% url cancel_view %}" role="button">Cancel</a>{% endcomment %}
    {% if delete_view %}
    <a class="btn btn-danger mb-2" href="{% url delete_view object.pk %}" role="button">Delete</a>
    {% endif %}
  </div>
</form>
{% endblock %}

{% block js %}
{% include 'autocomplete_boilerplate.html' %}
{% endblock %}
