<div>
  <div class="row align-items-baseline mb-2 px-3">
    <div class="col-md-8 p-0">
      <a href="{% url 'conference_series_detail' series.id %}" class="flex-shrink-1">
        <h3 class="pr-4 mb-0">{{ series.title }} ({{ series.abbreviation }})</h3>
      </a>
    </div>
    <div class="col-md-4 p-0">
      <h4 class="flex-shrink-0 mb-0 text-md-right">{{ series.n_conferences }}
        event{{ series.n_conferences|pluralize }}
      </h4>
    </div>
  </div>
  <p class="text-muted date-spread">{{ series.earliest_year }} - {{ series.latest_year }}</p>
  {% if series.notes %}
  <hr>
  <p>{{ series.notes | safe }}</p>
  {% endif %}
  {% if user.is_staff %}
  <p>
    <a href="{% url 'series_edit' series.pk %}" role="button" class="btn btn-warning btn-sm" rel="noopener noreferrer"
      target="_blank">Edit</a>
    <a href="{% url 'series_delete' series.pk %}" role="button" class="btn btn-danger btn-sm" rel="noopener noreferrer"
      target="_blank">Delete</a>
  </p>
  {% endif %}
  {% include "series_progress_bar.html" with series=series %}
</div>
