<div class="container-flex">
  <div class="row justify-content-between">
    <div class="col-9">
      <h5>
        <a href="{% url 'work_list' %}?conference={{ conference.id }}">
          {% if conference.main_series and show_series %}
          {{ conference.main_series }} - {{ conference.year }}
          {% elif conference.main_series and not show_series %}
          {{ conference.year }}

          {% if conference.short_title %}
          - {{ conference.short_title }}
          {% elif conference.city %}
          - {{ conference.city }}
          {% elif conference.hosting_institutions %}
          - {{ conference.hosting_institutions.first.name }}
          {% endif %}

          {% else %}

          {{ conference.year }} - {{ conference.theme_title }}

          {% if conference.short_title %}
          - {{ conference.short_title }}
          {% elif conference.city %}
          - {{ conference.city }}
          {% elif conference.hosting_institutions %}
          - {{ conference.hosting_institutions.first.name }}
          {% endif %}

          {% endif %}
        </a>
      </h5>
      {% if conference.theme_title and conference.main_series %}
      <h6>
        "{{ conference.theme_title }}"
      </h6>
      {% endif %}
      <div class="conference-location-unit my-3">
        {% if conference.hosting_institutions.exists %}
        <p>
          Hosted at {{ conference.hosting_institutions.all|join:", "}}
        </p>
        {% endif %}
        <p>
          {% if conference.city %}{{ conference.city }},
          {% endif %}{% if conference.state_province_region %}{{ conference.state_province_region }},
          {% endif %}{% if conference.country %}{{ conference.country }}{% endif %}
        </p>
        {% if conference.start_date %}
        <p>
          {{ conference.start_date }} - {{ conference.end_date }}
        </p>
        {% endif %}
      </div>
      <div class="conference-notes my-3">
        <p>
          {{ conference.n_works }} works by {{ conference.n_authors }} authors indexed
        </p>
        {% if conference.notes %}
        <p>{{ conference.notes|urlize }}</p>
        {% endif %}
        {% if conference.url %}
        <p>
          Conference website: <a href="{{ conference.url }}">{{ conference.url }}</a>
        </p>
        {% endif %}
        {% if conference.references %}
        <p>References: {{ conference.references|urlize }}</p>
        {% endif %}
        {% if conference.contributors %}
        <p>Contributors: {{ conference.contributors }}</p>
        {% endif %}
        {% if conference.attendance %}
        <p>Attendance: {{ conference.attendance|urlize }}</p>
        {% endif %}
        {% if conference.primary_contact %}
        <p>Primary contact: {{ conference.primary_contact }}</p>
        {% endif %}
      </div>
    </div>
    <div class="col-3">
      {% if user.is_authenticated and conference.editing_user %}
      <p class="badge badge-light">Checked out by {{ conference.editing_user }}</p>
      {% endif %}

      {% if conference.entry_status == "n" %}
      <span class="badge badge-secondary p-3 mb-4">
        Not started</span>
      {% elif conference.entry_status == "i" %}
      <span class="badge badge-warning p-3 mb-4">
        Incomplete</span>
      {% elif conference.entry_status == "r" %}
      <span class="badge badge-info mx-1 p-3 mb-4">
        In review</span>
      {% elif conference.entry_status == "c" %}
      <span class="badge badge-success p-3 mb-4">Complete</span>
      {% endif %}

      {% if user.is_authenticated %}

      {% if conference.program_available %}
      <p class="badge badge-info mx-1">Has program</p>
      {% endif %}

      {% if conference.abstracts_available %}
      <p class="badge badge-secondary mx-1">Has abstracts</p>
      {% endif %}

      {% endif %}

      {% if conference.organizers.exists or conference.series_memberships.exists %}
      <div class="d-flex align-self-end align-items-center series-membership-box p-4">
        <div>
          {% if conference.series_memberships.exists %}
          <p>
            Series:
            {% for membership in conference.series_memberships.all %}
            <a href="{% url 'conference_series_detail' membership.series.id %}">{{ membership.series.abbreviation }}</a>
            ({{ membership.number }}){% if not forloop.last %},{% endif %}{% endfor %}
          </p>
          {% endif %}
          {% if conference.organizers.exists %}
          <p>
            Organizers:
            {% for organizer in conference.organizers.all %}
            {% if user.is_authenticated %}
            <a href="{% url 'organizer_edit' organizer.id %}">{{ organizer.abbreviation }}</a>
            {% else %}
            {{ organizer.abbreviation }}{% endif %}{% if not forloop.last %},{% endif %}{% endfor %}
          </p>
          {% endif %}
        </div>
      </div>
      {% endif %}

    </div>
  </div>

  {% if user.is_authenticated and conference.documents.exists %}
  <div class="card my-2">
    <div class="card-header p-1">Files</div>
    <ul class="list-group list-group-flush">
      {% for document in conference.documents.all %}
      <li class="list-group-item p-1"><i class="far fa-file mr-1"></i> <a
          href="{{ document.url }}">{{ document.basename }} ({{ document.size|filesizeformat }})</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  {% if user.is_authenticated %}
  <div class="row">
    <a href="{% url 'conference_checkout' conference.id %}" role="button"
      class="btn btn-secondary btn-sm mx-2">Checkout</a>
    <a href="{% url 'conference_edit' conference.id %}" role="button" class="btn btn-primary btn-sm mx-2">Edit</a>
    <a href="{% url 'conference_delete' conference.id %}" role="button" class="btn btn-danger btn-sm mx-2">Delete</a>
    <a href="{% url 'work_create' %}?conference={{ conference.id }}" role="button"
      class="btn btn-primary btn-sm mx-2">New
      work</a>
  </div>
  {% endif %}

</div>
