{% extends "base.html" %}

{% block header_title %}Conferences{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-3">
    <div class="card m-2">
      <div class="card-header">Conference Series</div>
      <ul class="list-group list-group-flush">
        {% for series in series_list %}
        <li class="list-group-item"><a href="#{{ series.abbreviation }}">{{ series.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
    {% if standalone_conferences %}
    <div class="card m-2">
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="#standalone">Standalone Events</a></li>
      </ul>
    </div>
    {% endif %}
  </div>
  <div class="col-md-9">
    {% if user.is_authenticated %}
    <div class="card m-2">
      <div class="card-body">
        <a href="{% url 'conference_create' %}" type="button" class="btn
        btn-primary">Create
          conference</a>
        <a href="{% url 'series_create' %}" type="button" class="btn
                btn-primary">Create
          series</a>
        <a href="{% url 'organizer_create' %}" type="button" class="btn
                btn-primary">Create
          organizer</a>
      </div>
    </div>
    {% endif %}
    <div class="accordion" id="series_accordion">
      {% for series in series_list %}
      <div class="card m-2 border-bottom">
        <div class="card-header" id="series{{ series.id }}">
          <div class="d-flex justify-content-between align-content-center align-items-start">
            <span>
              <h2 id="{{ series.abbreviation }}"><button class="btn" type="button" data-toggle="collapse"
                  data-target="#collapse{{ series.id }}" aria-expanded="{{ forloop.first|lower }}"
                  aria-controls="collapse{{ series.id }}"><i id="toggle{{ series.id }}"
                    class="fas fa-lg fa-caret-{% if forloop.first %}down{% else %}right{% endif %}"></i></button>
                {{ series.title }}</h2>
            </span>
          </div>
        </div>
        <div id="collapse{{ series.id }}" class="collapse{% if forloop.first %} show{% endif %}"
          aria-labelledby="heading{{ series.id }}" data-parent="#series_accordion">
          <div class="card-header">
            {% if series.notes  %}
            <p>{{ series.notes | safe }}</p>
            <hr>
            {% endif %}
            <p>Organizers:</p>
            <ul>
              {% for organizer in series.all_organizers %}
              <li><strong>{{ organizer.name }}</strong>{% if organizer.name %}{% if organizer.notes %}:
                {{ organizer.notes | safe }}{% endif %}{% endif %}{% if organizer.url %} (Website: <a
                  href="{{ organizer.url }}">{{ organizer.url }}</a>){% endif %}</li>
              {% endfor %}
          </div>
          <ul class="list-group list-group-flush">
            {% for conference in series.conferences.all %}
            <li class=" list-group-item">{% include "conference_card.html" with conference=conference %}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endfor %}
    </div>
    {% if standalone_conferences %}
    <div class="card m-2">
      <div class="card-header">
        <div class="d-flex justify-content-between">
          <h2 id="standalone">Standalone Events</h2>
        </div>
      </div>
      <ul class="list-group list-group-flush">
        {% for conference in standalone_conferences.all %}
        <li class="list-group-item">{% include "conference_card.html" with conference=conference %}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}

{% block js %}
<script>
  {% for series in series_list %}
  $('#collapse{{ series.id }}').on('show.bs.collapse', function () {
    $("#toggle{{ series.id }}").removeClass('fa-caret-right').addClass('fa-caret-down');
  });

  $('#collapse{{ series.id }}').on('hide.bs.collapse', function () {
    $("#toggle{{ series.id }}").removeClass('fa-caret-down').addClass('fa-caret-right');
  });
  {% endfor %}
</script>
{% endblock %}
