{% extends "base.html" %}

{% block header_title %}Downloads{% endblock %}

{% block content %}
{% load static %}

<h1>Data Downloads</h1>

<div class="alert alert-warning">
  <p>
    We strongly discourage using Microsoft Excel to open these files, as it is easily confused by the
    multiline values and UTF-8 characters contained in some columns. We recommend R, Python, OpenOffice, or Google
    Sheets.
  </p>
</div>

<p>We offer two categories of data download:</p>

<h2>Simple CSV</h2>
<p>
  <a href="{{ denormalized_url }}" role="button" class="btn btn-primary">Download single CSV</a>
</p>
<p>This file contains a simplified version of our database arranged with one row per "work" (be it a keynote, a paper, a
  panel session, etc.). Associated conference information such as name, location, and date, as well as author names and
  keyword/topic tags are included in each row as well.</p>
<p>This CSV does not contain more complex related information such as changing author names or detailed affiliation
  information. For that, you will want to look at the full relational database available below.</p>

<h3 class="mt-4">Simple data dictionary
  <button class="btn btn-lg btn-link" type="button" data-toggle="collapse" data-target="#collapseDenormalized"
    aria-expanded="false" aria-controls="collapseDenormalized"><i id="toggleDenormalized"
      class="fas fa-caret-right"></i></button></h3>
<div class="collapse hide" id="collapseDenormalized">
  <small>Required fields marked with an asterisk (*)</small>
  <table class="table table-sm table-striped">
    <thead>
      <tr>
        <th scope="col" class="col-4">Name</th>
        <th scope="col" class="col-10">Description</th>
      </tr>
    </thead>
    <tbody>
      {% for field in denormalized_data_dictionary %}
      <tr>
        <td class="col-4">{% if field.required %}*{% endif %}<code>{{ field.name }}</code></th>
        <td class="col-10">{{ field.description }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<h2>Full Data</h2>
<a href="{{ zip_url }}" class="btn btn-primary">Download zip file of CSVs</a>
</p>
<p>
  This download contains one CSV for each of the core tables in our database, and can be used to do more complex
  analyses such as tracking institutional affiliations across many different years of conferences.
</p>

<h3 class="mt-4">Full data dictionary
  <button class="btn btn-lg btn-link" type="button" data-toggle="collapse" data-target="#collapseFull"
    aria-expanded="false" aria-controls="collapseFull"><i id="toggleFull" class="fas fa-caret-right"></i></button></h3>
<div class="collapse hide" id="collapseFull">
  <small>Required fields marked with an asterisk (*)</small>
  {% for m in data_dictionary %}
  <h4 id="{{ m.model }}">{{ m.csv_name }}.csv</h4>
  <table class="table table-sm table-striped">
    <thead>
      <tr>
        <th scope="col" class="col-2">Name</th>
        <th scope="col" class="col-2">Type</th>
        <th scope="col" class="col-10">Description</th>
      </tr>
    </thead>
    <tbody>
      {% for field in m.fields %}
      <tr>
        <td class="col-2">{% if field.required %}*{% endif %}<code>{{ field.name }}</code></td>
        <td class="col-2">{{ field.type }}</td>
        <td class="col-10">{{ field.help_text }}{% if field.relation %} (Related model: <a
            href="#{{ field.related_model }}">{{ field.related_model }}</a>){% endif %}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endfor %}
</div>

{% endblock %}

{% block js %}
<script>
  $('#collapseDenormalized').on('show.bs.collapse', function () {
    $("#toggleDenormalized").removeClass('fa-caret-right').addClass('fa-caret-down');
  });

  $('#collapseDenormalized').on('hide.bs.collapse', function () {
    $("#toggleDenormalized").removeClass('fa-caret-down').addClass('fa-caret-right');
  });

  $('#collapseFull').on('show.bs.collapse', function () {
    $("#toggleFull").removeClass('fa-caret-right').addClass('fa-caret-down');
  });

  $('#collapseFull').on('hide.bs.collapse', function () {
    $("#toggleFull").removeClass('fa-caret-down').addClass('fa-caret-right');
  });
</script>
{% endblock %}
