{% extends "base.html" %}

{% block header_title %}Downloads{% endblock %}

{% block content %}
{% load static %}

<h1>Data Downloads</h1>

<div class="card my-2">
  <div class="card-header">
    <h2>Simple CSV</h2>
  </div>
  <div class="card-body">
    <p>One work per row</p>
    <p>
      <a href="{{ denormalized_url }}" role="button" class="btn btn-primary">Download single CSV</a>
    </p>
  </div>
</div>

<div class="card my-2">
  <div class="card-header">
    <h2>Full Data</h2>
  </div>
  <div class="card-body">
    <p>
      <a href="{{ zip_url }}" class="btn btn-primary">Download zip file of CSVs</a>
    </p>
    {% if user.is_authenticated %}
    <div class="alert alert-warning">
      <p>
        It is strongly recommended to not NOT use Microsoft Excel to open these files, as it is easily confused by the
        multiline values in the full-text column. We recommend R, Python, or Google Sheets.
      </p>
    </div>
    {% endif %}
    <h3>Data dictionary</h3>
    {% for m in data_dictionary %}
    <h4 id="{{ m.model }}">{{ m.csv_name }}.csv</h4>
    <table class="table table-sm table-striped">
      <thead>
        <tr>
          <th scope="col" class="col-2">Name</th>
          <th scope="col" class="col-2">Type</th>
          <th scope="col" class="col-10">Description</th>
        </tr>
      </thead>
      <tbody>
        {% for field in m.fields %}
        <tr>
          <th scope="row" class="col-2"><code>{{ field.name }}</code></th>
          <td class="col-2">{{ field.type }}</td>
          <td class="col-10">{{ field.help_text }}{% if field.relation %} (Related model: <a
              href="#{{ field.related_model }}">{{ field.related_model }}</a>){% endif %}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endfor %}
  </div>
</div>

{% endblock %}
