{% extends "list.html" %}

{% block header_title %}Conferences{% endblock %}

{% block results_title %}Conference list{% endblock %}

{% block results %}
<div class="card-header">Conferences</div>
<ul class="list-group list-group-flush">
  {% for conference in conference_list %}
  <li class="list-group-item" id="{{ conference.pk }}">
    <a href="{% url 'conference_edit' conference.pk %}" role="button" class="btn btn-primary">Edit</a>
    <a href="{% url 'conference_delete' conference.pk %}" role="button" class="btn btn-danger">Delete</a>
    <a href="{% url 'work_create' %}?conference={{ conference.pk }}" role="button" class="btn btn-primary">New
      abstract</a>
    <p>Venue: <a href="{% url 'conference_edit' conference.pk %}">{{ conference.venue }}</a></p>
    <p>Venue abbreviation: {{ conference.venue_abbreviation }}</p>
    <p>Year: {{ conference.year }}</p>
    <p><a href="{% url 'full_work_list' %}?conference={{ conference.pk }}">Number of works:
        {{ conference.works.count }}</a></p>
    <p>Notes: {{ conference.notes }}</p>
    <p>URL: <a href="{{ conference.url }}">{{ conference.url }}</a></p>
    <p>Series: {% for memb in conference.series_memberships.all %}<a
        href="{% url 'series_edit' memb.series.pk %}">{{ memb.series }}{% if memb.number %}
        {{ memb.number }}
        {% endif %}</a>{% endfor %}</p>
  </li>
  {% endfor %}
</ul>
{% endblock %}

{% block filter %}
<a href="{% url 'conference_create' %}" role="button" class="btn btn-primary">New conference</a>
{% endblock %}
