{% extends "base.html" %}

{% block header_title %}Home{% endblock %}

{% block content %}

{% load humanize %}

<div class=jumbotron>
  <h1 class="display-4">The CMU Index of Digital Humanities Conferences</h1>
  <p class="lead">Browse {{ site.work_count | intcomma }} presentations from
    {{ site.conference_count | intcomma }} digital humanities conferences spanning {{ site.years_count | intcomma }}
    years,
    featuring
    {{ site.author_count | intcomma }} different authors hailing from {{ site.institution_count | intcomma }}
    institutions and {{ site.country_count | intcomma }} countries.</p>
  <hr class="my-4">
  <p>Browse by:</p>
  <a class="btn btn-primary btn-lg" href="{% url 'work_list' %}">Works</a>
  <a class="btn btn-primary btn-lg" href="{% url 'author_list' %}">Authors</a>
  <a class="btn btn-primary btn-lg" href="{% url 'conference_list' %}">Conferences</a>
</div>

{% endblock %}
