{% extends "base.html" %}

{% block header_title %}Merging multiple affiliations{% endblock %}

{% block content %}

{% load static %}
{% load crispy_forms_tags %}

<div class="row">
  <div class="col-md-6">
    <p>Select institution to merge</p>
    <form action="{% url 'institution_multi_merge' %}" method="post">
      {% csrf_token %}
      {{ form | crispy }}
      <div class="alert alert-danger">This action cannot be undone!</div>
      <button type="submit" class="btn btn-primary mb-2">Merge</button>
    </form>
  </div>
</div>

{% endblock %}

{% block js %}
{% include 'autocomplete_boilerplate.html' %}
{% endblock js %}
