<div class="my-3 mt-5">
  <p class="text-muted">Indexing progress:
    <span class="badge badge-success progress-def">{{ series.n_complete }} Completed</span>
    <span class="badge badge-warning progress-def">{{ series.n_in_progress }} in
      progress</span>
    <span class="badge badge-info progress-def">{{ series.n_in_review }} in
      review</span>
    <span class="badge badge-secondary progress-def">{{ series.n_remaining }} not yet started</span>
  </p>
  <div class="progress my-4">
    <div class="progress-bar bg-success" role="progressbar" style="width: {{ series.pct_complete }}%"
      aria-valuenow="{{ series.n_complete }}" aria-valuemin="0" aria-valuemax="{{ series.n_conferences }}"></div>
    <div class="progress-bar bg-warning" role="progressbar" style="width: {{ series.pct_in_progress }}%"
      aria-valuenow="{{ series.n_in_progress }}" aria-valuemin="0" aria-valuemax="{{ series.n_conferences }}"></div>
    <div class="progress-bar bg-info" role="progressbar" style="width: {{ series.pct_in_review }}%"
      aria-valuenow="{{ series.n_in_review }}" aria-valuemin="0" aria-valuemax="{{ series.n_conferences }}"></div>
  </div>
</div>
