<small>Abstract indexing progress:
  <span class="badge badge-success">{{ series.n_complete }} Completed</span>
  <span class="badge badge-warning">{{ series.n_in_progress }} in
    progress</span>
  <span class="badge badge-info">{{ series.n_in_review }} in
    review</span>
  <span class="badge badge-secondary">{{ series.n_remaining }} not yet started</span>
</small>
<div class="progress my-2">
  <div class="progress-bar bg-success" role="progressbar" style="width: {{ series.pct_complete }}%"
    aria-valuenow="{{ series.n_complete }}" aria-valuemin="0" aria-valuemax="{{ series.n_conferences }}"></div>
  <div class="progress-bar bg-warning" role="progressbar" style="width: {{ series.pct_in_progress }}%"
    aria-valuenow="{{ series.n_in_progress }}" aria-valuemin="0" aria-valuemax="{{ series.n_conferences }}"></div>
  <div class="progress-bar bg-info" role="progressbar" style="width: {{ series.pct_in_review }}%"
    aria-valuenow="{{ series.n_in_review }}" aria-valuemin="0" aria-valuemax="{{ series.n_conferences }}"></div>
</div>
