{% extends "base.html" %}

{% block header_title %}Wipe items{% endblock %}

{% block content %}
{% if hanging_items %}
<p>Wipe any {% for k, v in deletions.items %}{{ k }}, {% endfor %} that is not associated with an
  work?</p>

<form method="post">
  {% csrf_token %}
  <button class="btn btn-danger btn-block" role="submit">Delete All (This cannot be reversed!)</button>
</form>

{% for k, v in deletions.items %}
<div class="card my-2">
  <div class="card-header">{{ k }}</div>
  <ul class="list-group list-group-flush">
    {% for o in v.all %}
    <li class="list-group-item">ID: {{ o.pk }}: "{{ o }}"</li>
    {% endfor %}
  </ul>
</div>
{% endfor %}

{% else %}
<p>There are no dangling objects to wipe.</p>
{% endif %}

{% endblock %}
