{% extends "base.html" %}

{% block header_title %}Editing abstract ID {{ work.pk }}{% endblock %}

{% block content %}
<div class="card m-2" id="content-card">
  <div class="card-header">
    <nav>
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'work_edit' work.pk %}">Abstract Details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'work_edit_authorship' work.pk %}">Authorships</a>
        </li>
        <li class="nav-item ml-auto">
          <a class="btn btn-danger" href="{% url 'work_delete' work.pk %}">Delete</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="card-body">
    {% load static %}
    {% load crispy_forms_tags %}
    <form method="post">
      {% csrf_token %}
      {{ authorships_form.management_form }}
      <ul class="list-group list-group" id="authorship_formset">
        {% for form in authorships_form %}
        <li class="list-group-item authorship_form" id="authorship_{{ forloop.counter0 }}">
          <h2>Author {{ form.authorship_order }}</h2>
          <p>{{ form.DELETE|as_crispy_field }}</p>
          <div class="row">
            <div class="col">
              {{ form.author|as_crispy_field }}
              {{ form.first_name|as_crispy_field }}
              {{ form.last_name|as_crispy_field }}
            </div>
            <div class="col">
              {{ form.affiliations|as_crispy_field }}

              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#affiliationModal" ,
                id="affiliationModal-trigger-{{ forloop.counter0 }}">
                Create new affiliation
              </button>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
      <input class="btn btn-primary" id="add_authorship" type="button" value="Add author">
      <div class="form-group my-4">
        <button name="submit" type="submit" class="btn btn-primary mb-2">Submit</button>
        <a class="btn btn-secondary mb-2" href="{% url 'work_detail' work.pk %}" role="button">Cancel</a>
        <button type="submit" class="btn btn-secondary mb-2" href="{% url 'work_detail' work.pk %}" name="start_new"
          value="new_work">Save and start new work</button>
      </div>
    </form>
  </div>
</div>

<!-- Affiliation creation modal -->
<div class="modal" tabindex="-1" role="dialog" id="affiliationModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create a new affiliation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="{% url 'ajax_affiliation_create' %}" method="post" id="affiliationForm">
        <div class="modal-body">
          {% csrf_token %}
          {{ affiliation_form|crispy }}
        </div>
        <div class="modal-footer">
          <a type="button" class="btn btn-info" href="{% url 'institution_create' %}" target="_blank"
            rel="noopener noreferrer">Create
            institution (new tab)</a>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" name="submit_affiliation" class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}

{% block js %}
{% include "autocomplete_boilerplate.html" %}
{% comment %}
When the user selects an author, fill in the most recent known information about that author.
{% endcomment %}
<script>

  var modal_trigger = "";

  $('#affiliationModal').on('shown.bs.modal', function (e) {
    var clicked_button_id = e.relatedTarget.id;
    modal_trigger = clicked_button_id;
  });

  $("#affiliationForm").submit(function (e) {
    e.preventDefault(); // avoid to execute the actual submit of the form.
    var parent_li = $("#" + modal_trigger).parents("li");
    var aff_select = parent_li.find("select[id$='affiliations']");
    var form = $(this);
    var url = form.attr('action');
    $.ajax({
      url: url,
      type: "POST",
      data: form.serialize(),

      success: function (data) {
        var affiliations_option = new Option(data.name, data.id, true, true);
        aff_select.append(affiliations_option).trigger('change');
        $("#id_department").val(null);
        $("#id_institution").val(null).trigger('select2:unselect').trigger("change");
        $("#affiliationModal").modal("hide");
      }

    });
  });

  var author_count = {{ authorships_form.total_form_count }};

  $("#add_authorship").click(function () {
    author_count++;

    var newformid = "authorship_" + author_count;
    var newform = '<li class="list-group-item authorship_form" id="' + newformid + '"> <h2> Author {{ authorships_form.empty_form.authorship_order|escapejs }} <input type="button" class="btn btn-danger" id="remove-authorship-' + newformid + '" value="Remove authorship"></h2> <div class="row"> <div class="col"> {{ authorships_form.empty_form.author | as_crispy_field|escapejs }} {{ authorships_form.empty_form.first_name | as_crispy_field|escapejs }} {{ authorships_form.empty_form.last_name | as_crispy_field|escapejs }} </div> <div class="col"> {{ authorships_form.empty_form.affiliations | as_crispy_field |escapejs}} <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#affiliationModal" id="affiliationModal-trigger-' + newformid + '">Create new affiliation</button> </div> </div> </li>';
    newform = newform.replace(/__prefix__/g, author_count - 1);

    $("#authorship_formset").append(newform);

    $("#id_form-" + (author_count - 1) + "-authorship_order").val(author_count);
    $("#id_form-TOTAL_FORMS").val(author_count);
  });

  $("#authorship_formset").on("select2:select", "select[id$='-author']", function () {
    var parent_li = $(this).parents("li");
    var fname_field = parent_li.find("input[id$='first_name']");
    var lname_field = parent_li.find("input[id$='last_name']");
    var aff_select = parent_li.find("select[id$='affiliations']");
    $.getJSON("/author-info-json/" + $(this).val(), function (data) {
      fname_field.val(data.first_name);
      lname_field.val(data.last_name);
      // If author has no preferred affiliations, then blank out the affiliations field
      aff_select.val(null).trigger('select2:unselect').trigger("change");
      if (typeof data.affiliations != "undefined") {
        var i;
        for (i = 0; i < data.affiliations.length; ++i) {
          var affiliations_option = new Option(data.affiliations[i].name, data.affiliations[i].id, true, true);
          aff_select.append(affiliations_option).trigger('change');
        }
      }

      parent_li.find(".author_card").remove();
      acard = '<div class="card author_card my-2"><div class="card-header">' + data.first_name + ' ' + data.last_name + '</div><div class="card-body"><p>Selected Works (' + data.works_count + ' total): ' + data.work_titles.join(", ") + "</p>";
      if (typeof data.affiliations != "undefined") {
        acard = acard + "<p>affiliations: " + data.affiliations.name + "</p>";
      }
      acard = acard + "</div></div >";
      before_name = parent_li.find(".form-group[id$='first_name']")
      before_name.before(acard);
    });
  });
</script>
{% endblock %}
