{% extends "base_work_form.html" %}

{% block navpills %}
<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link active" href="{% url 'work_edit' work.pk %}">Abstract Details</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'work_edit_authorship' work.pk %}">Authorships</a>
  </li>
  <li class="nav-item ml-auto">
    <a class="btn btn-danger" href="{% url 'work_delete' work.pk %}">Delete</a>
  </li>
</ul>
{% endblock %}

{% block submit_buttons %}
<button type="submit" class="btn btn-primary mb-2">Submit</button>
<a class="btn btn-secondary mb-2" href="{% url 'work_detail' work.pk %}" role="button">Cancel</a>
{% endblock %}
