<div class="p-3">
  <div class="row">
    <div class="col-xl-8">
      <h6 class="mb-2 mr-1 flex-shrink-1">
        <a href="{% url 'work_detail' work.pk %}">{{ work.title }}</a>
      </h6>
    </div>
    <div class="col-xl-4">
      {% if user.is_authenticated %}
      <a class="btn btn-primary btn-sm flex-shrink-0" role="button" href="{% url 'work_edit' work.pk %}">Edit this
        work</a>
      {% endif %}
      {% if work.full_text %}
      {% if work.full_text_license or work.conference.full_text_public %}
      <span class="badge p-2 fts public" data-toggle="tooltip" data-placement="top"
        title="The full text for this work is public.">Full
        text is public</span>
      {% else %}
      <span class="badge p-2 fts" data-toggle="tooltip" data-placement="top"
        title="The full text for this work has been indexed for search, though it may not be available to view publicly.">Full
        text indexed</span>
      {% endif %}
      {% if work.search_in_ft_only and work.full_text %}
      <span class="badge p-2 mt-2 fts fts-retrieved" data-toggle="tooltip" data-placement="top"
        title="Your text search matched this abstract because the terms were found in the full-text, which may not be available to view publicly.">Query
        found in full-text only</span>
      {% endif %}
      {% endif %}
    </div>
  </div>
  {% if work.work_type %}
  <p class="mt-2 work-type">
    Work type: <a href="{% url 'work_list' %}?work_type={{ work.work_type.pk }}">{{ work.work_type }}</a>
  </p>
  {% endif %}
  <p class="mt-0 authors">
    {% for authorship in work.authorships.all %}<a
      href="{% url 'author_detail' authorship.author.pk %}">{{ authorship.appellation.first_name }}
      {{ authorship.appellation.last_name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</p>

  {% if work.session_papers.exists %}
  <p>Session papers:</p>
  <ul>
    {% for w in work.session_papers.all %}
    <li><a href="{% url 'work_detail' w.id %}">{{ w.title }}</a></li>
    {% endfor %}
  </ul>
  {% elif work.parent_session %}
  <p>Parent session: <a href="{% url 'work_detail' work.parent_session.id %}">{{ work.parent_session.title }}</a></p>
  {% endif %}

  {% if work.keywords.exists or work.topics.exists or work.languages.exists %}
  <div class="work-facets-box p-3 my-2">
    {% if work.keywords.exists %}
    <p><strong>Keywords:</strong> {% for kw in work.keywords.all %}<a class="facet-link mx-2"
        href="{% url 'work_list' %}?keywords={{ kw.pk }}">{{ kw }}</a>
      {% endfor %}</p>
    {% endif %}

    {% if work.topics.exists %}
    <p><strong>Topics:</strong> {% for t in work.topics.all %}<a class="facet-link mx-2"
        href="{% url 'work_list' %}?topics={{ t.pk }}">{{ t }}</a>
      {% endfor %}</p>
    {% endif %}

    {% if work.languages.exists %}
    <p><strong>Languages:</strong> {% for l in work.languages.all %}<a class="facet-link mx-2"
        href="{% url 'work_list' %}?languages={{ l.pk }}">{{ l }}</a>
      {% endfor %}</p>
    {% endif %}
  </div>
  {% endif %}

  <small class="my-2">
    Presented at <a href="{% url 'work_list' %}?conference={{ work.conference.pk }}">
      {% if work.main_series %}
      {{ work.main_series }} -
      {% endif %}
      {{ work.conference.year }} -
      {% if work.conference.short_title %}
      {{ work.conference.short_title }}
      {% elif work.conference.city %}
      {{ work.conference.city }}
      {% elif work.main_institution %}
      {{ work.main_institution }}
      {% endif %}
    </a>
  </small>
</div>
