django==3.2.10
django-libsass
django-coverage-plugin
django-debug-toolbar
django-crispy-forms==1.11.2
django-filer
django-markdownify
django-autocomplete-light==3.5.1
gunicorn
cssselect
progress
psycopg2-binary
python-memcached
tblib
w3lib
lxml
